In [1]:
# notebooks/sentiment.ipynb
import os
import sys
import pandas as pd
# Add the scripts directory to the Python path
scripts_path = os.path.abspath('../scripts')
if scripts_path not in sys.path:
    sys.path.append(scripts_path)

try:
    #from scripts.sentiment_analysis import ReviewSentiment
    from sentiment_analysis import ReviewSentiment

except ModuleNotFoundError:
    # If the import fails, provide a helpful error message
    raise ModuleNotFoundError(
        "Could not find 'sentiment_analysis.py' in '../scripts'. "
        "Please ensure the file exists and the path is correct."
    )


# Load preprocessed data
df = pd.read_csv("../data/cleaned_reviews.csv")

# Initialize sentiment analyzer (choose 'vader' or 'distilbert')
analyzer = ReviewSentiment(method='vader')

# Apply sentiment analysis
df_with_sentiment = analyzer.apply(df)

# Save with sentiment
df_with_sentiment.to_csv("../data/sentiment_reviews.csv", index=False)

# Aggregate sentiment by bank and rating
agg_df = analyzer.aggregate(df_with_sentiment)

# Save aggregation
agg_df.to_csv("../data/sentiment_aggregated.csv", index=False)

# Display results
agg_df.head(1200)
#

d:\Kifiya AI Master Training Program 5 6 &7\Week-2\Customer Experience Analytics for Fintech Apps\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

                           bank  rating  mean_sentiment  review_count
0             Bank of Abyssinia       1       -0.263279           433
1             Bank of Abyssinia       2        0.000000            32
2             Bank of Abyssinia       3        0.400000            70
3             Bank of Abyssinia       4        0.564103            39
4             Bank of Abyssinia       5        0.630137           438
5   Commercial Bank of Ethiopia       1       -0.027778           108
6   Commercial Bank of Ethiopia       2        0.055556            36
7   Commercial Bank of Ethiopia       3        0.310345            58
8   Commercial Bank of Ethiopia       4        0.553191            94
9   Commercial Bank of Ethiopia       5        0.761214           758
10                  Dashen Bank       1       -0.117647            68
11                  Dashen Bank       2       -0.085714            35
12                  Dashen Bank       3        0.666667            24
13                  Dashen Bank       4        0.541667            48
14                  Dashen Bank       5        0.806094           722